.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.conatiner-left {
  height: 100%;
  width: 64%;
  /* background: rgba(196, 196, 196, 0.42); */
}
.conatiner-right {
  height: 100%;
  width: 36%;
}
.conatiner-right-items {
  padding: 80px 45px 50px 45px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.name {
  text-align: left;
  width: 100%;
}
.input {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.83);
  border: 1px solid rgba(251, 221, 187, 0.51);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: rgba(0, 48, 46, 0.53);
  padding-left: 18px;
}
.button {
  padding-left: 18px;
  width: 100%;
  height: 50px;

  background: #00302e;
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: #f3c294;
}
