<!-- <div class="navbar"> -->
<div class="conatiner">
  <div class="logo-container">
    <img src="../../assets/image/logo.svg" class="logo" />
    Lilies
  </div>
  <div class="nav-links">
    <div class="link">
      <div class="left-div">
        <img src="../../assets/image/home-icon.png" alt="logo" />
        <div class="content">Dashboard</div>
      </div>
      <div></div>
    </div>
    <div class="link">
      <div class="left-div">
        <img src="../../assets/image/account-icon.png" alt="logo" />
        <div class="content">Your Profile</div>
      </div>
      <div></div>
    </div>
    <div class="link">
      <div class="left-div">
        <img src="../../assets/image/order-icon.png" alt="logo" />
        <div class="content">Orders</div>
      </div>
      <div class="right-div-order">{{ orderSize }}</div>
    </div>
    <div class="link">
      <div class="left-div">
        <img src="../../assets/image/cart-icon.png" alt="logo" />
        <div class="content">Your Cart</div>
      </div>
      <div class="right-div-cart">{{ cartSize }}</div>
    </div>
  </div>
</div>
<!-- </div> -->
