.container {
  width: 240px;
  height: 307px;
  background: rgba(255, 255, 255, 0.83);
  border: 0.3px solid rgba(0, 48, 46, 0.14);
  border-radius: 5px;
  position: relative;
}
.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
}
.image {
  width: 90px;
  height: 90px;
}
.image img {
  border: 50%;
}
.upper-para {
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  text-align: center;
  color: #00302e;
}
.lower-para {
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.69);
  width: 172px;
}
.price-comp {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  justify-content: center;
  margin-top: 22px;
}
.price {
  font-weight: 700;
  font-size: 13px;
  line-height: 33px;
  color: #00302e;
}

.add-to-cart {
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
  text-align: right;
  color: #06e775;
  border: none;
  background-color: white;
  cursor: pointer;
}
