.container {
  width: 100%;
  margin-bottom: 30px;
  /* width: 700px; */
  /* height: 70px; */
  /* background: yellow; */
  /* justify-content: space-between; */
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 80%; */
}
.left-side-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.item-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  /* justify-content: flex-start; */
  /* align-items: center; */
}
.upper-p {
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
  color: #00302e;
}
.lower-p {
  font-weight: 500;
  font-size: 12px;
  line-height: 3s3px;
  /* display:s flex; */
  /* align-items: center; */
  color: #c92c33;
  cursor: pointer;
}

.right-side-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 50px;
  margin-right: 5px;
}
.qty,
.price {
  font-weight: 700;
  font-size: 17px;
  /* line-height: 33px; */
  color: #00302e;
}
.status {
  font-weight: 500;
  font-size: 15px;
  color: #3a8f4d;
}
