<div class="container">
  <div class="content">
    <div class="left-side-items">
      <img class="image" src="{{ order.imgPath }}" />
      <div class="item-info">
        <div class="upper-p">{{ order.name }}</div>
        <div class="lower-p">Details</div>
      </div>
    </div>
    <div class="right-side-items">
      <div class="qty">{{ order.quantity }}</div>
      <div class="price">Rs.{{ order.price }}</div>
      <div class="status">{{ order.status }}</div>
    </div>
  </div>
</div>
