<div class="container">
  <div class="content">
    <div class="left-side-items">
      <img class="image" src="{{ cartItem.imgPath }}" />
      <div class="item-info">
        <div class="upper-p">{{ cartItem.name }}</div>
        <div class="lower-p" (click)="removeFromCart(id)">Remove</div>
      </div>
    </div>
    <div class="right-side-items">
      <div class="qty">{{ cartItem.quantity }}</div>
      <div class="price">Rs. {{ cartItem.price }}</div>
      <div class="sub-total">Rs.{{ 3 * cartItem.price }}</div>
    </div>
  </div>
</div>
