<div class="container">
  <app-side-nav></app-side-nav>
  <div class="right-side">
    <div class="header">
      <div class="header-content">
        <div class="header-upper">Good morning, Oghenevwede!</div>
        <div class="header-lower">
          What delicious meal are you craving today?
        </div>
      </div>
      <div class="header-image">
        <img src="../../assets/image/dashboard-user-image.svg" />
      </div>
    </div>
    <div class="food-items">
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
      <app-dash-food-item></app-dash-food-item>
    </div>
  </div>
</div>
