<div class="container">
  <div class="image-div"></div>
  <div class="form-div">
    <div class="form">
      <p class="top-p">Welcome to Lilies!</p>
      <div class="input-boxes">
        <input id="inputbox" type="text" placeholder="Your First Name" />
        <input id="inputbox" type="text" placeholder="Your Email address" />
        <input id="inputbox" type="text" placeholder="Your Password" />
      </div>
      <button class="button" (click)="toDashboardPage()">SIGNUP</button>
      <p class="bottom-p">
        Already have an account. <a (click)="toDashLoginPage()">LOGIN</a>
      </p>
    </div>
  </div>
</div>
