<div class="container">
  <div class="image-div"></div>
  <div class="form-div">
    <div class="form">
      <p class="top-p">Welcome to Lilies!</p>
      <input id="inputbox" type="text" placeholder="Your First Name" />
      <input id="inputbox" type="text" placeholder="Your Email address" />
      <input id="inputbox" type="text" placeholder="Your Password" />
      <button class="button">SIGNUP</button>
      <p class="bottom-p">Already have an account. <a>LOGIN</a></p>
    </div>
  </div>
</div>
