.container {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 81px;
  font-weight: 400;
  height: 100vh;
}
.image-div {
  width: 50vw;
  background: url(../../assets/image/signup-image.svg);
  background-repeat: no-repeat;
  border-radius: 7px;
  background-size: cover;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.top-p {
  text-align: center;
  font-weight: 600;
  font-size: 27px;
  color: #00302e;
  margin-bottom: 41px;
}
.input-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px 107px 0px 81px;
}
#inputbox {
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  border: 1px solid rgba(251, 221, 187, 0.51);
  border-radius: 5px;
  padding: 20px 25px;
}
.button {
  width: 100%;
  padding: 15px 200px;
  background: #00302e;
  border-radius: 5px;
  color: #fbddbb;
  font-weight: 500;
  cursor: pointer;
}
.bottom-p {
  margin-top: 28px;
  width: 227px;
  height: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  text-align: right;
  color: rgba(0, 48, 46, 0.91);
}
a {
  cursor: pointer;
  font-weight: bold;
}
